.chat__messages {
    display: flex;
    align-items: center;
    padding: $sm 0;
    border-bottom: 1px solid hsla(0, 5%, 69%, 0.66);
    cursor: pointer;

    img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 50%;
    }

    .sender__info {
        margin: 0 $thin;
        color: hsla(0, 0%, 19%, 1);

        h3 {
            font-size: $base;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            font-weight: 500;
        }

        p {
            font-size: $xm;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    .time {
        margin-left: auto;
        text-align: right;

        p {
            &[role=time] {
                color: hsla(0, 0%, 49%, 1);
                font-size: $xm;
            }
        }

        span {
            background: hsla(146, 64%, 36%, 1);
            color: $light200;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: $xm;
            padding: 3px;
        }
    }

    @media (max-width: 600px) {
        padding: $tiny 0;
        border-bottom: 1px solid hsla(0, 5%, 69%, .2);

        img {
            height: 40px;
            width: 40px;
        }
    }
}

.chat {
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    max-height: 100vh;

    &__header {
        display: flex;
        padding: $mb;
        align-items: center;
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
        position: sticky;
        top: 0;
        background: #FCFCFC;
        z-index: 1;

        &__user__img {
            margin-right: 10px;
            height: 35px;

            img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                object-fit: cover;
                min-height: 35px;
                min-width: 35px;
            }

            span {
                height: 35px;
                width: 35px;
                background: $primary;
                font-size: 1.2rem;
                font-weight: 600;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @media (max-width: 500px) {
                margin-right: 5px;

                img {
                    height: 30px;
                    width: 30px;
                    min-height: 30px;
                    min-width: 30px;
                }

                span {
                    height: 30px;
                    width: 30px;
                }
            }
        }

        @media (max-width: 720px) {
            padding: $thin $thin;

            &__user__img {
                height: 35px;
                width: 35px;
            }
        }

        &__user {
            h3 {
                font-size: $base;
                font-weight: 500;
                color: $dark200;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
            }

            .last__seen {
                color: hsla(0, 0%, 18%, 0.7);
                font-size: .78rem;
                line-height: 1;
            }

            @media (max-width: 720px) {
                h3 {
                    font-size: $sm;
                }

                .last__seen {
                    font-weight: 500;
                }

            }
        }

        &__actions {
            display: flex;
            margin-left: auto;

            svg {
                margin-left: $mb;
                height: 20px;

                @media (max-width: 720px) {
                    margin-left: $thin;
                    height: 20px;
                }
            }

        }
    }

    &__full__messages {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow-y: scroll;
        padding: 6.5rem $base 3.5rem $base;

        @media (max-width: 600px) {
            padding: 6.5rem $thin 3.5rem $thin;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        p {
            font-size: $sm;
            border-radius: 25px;
            padding: $mb $base;
            margin-bottom: $base;
            line-height: 1.3;

            @media (max-width: 720px) {
                font-size: .85rem;
            }

            &:nth-child(odd) {
                background-color: hsla(0, 0%, 90%, 1);
                color: $dark200;
                width: fit-content;
                margin-right: auto;
            }

            &:nth-child(even) {
                background-color: $primary;
                color: $light200;
                width: fit-content;
                margin-left: auto;
            }
        }
    }

    &__send__box {
        display: flex;
        align-items: center;
        padding: $tiny $base;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: #FCFCFC;
        border-top: 1px solid rgba(0, 0, 0, 0.10);

        @media (max-width: 720px) {
            padding: $tiny $thin;
        }

        @media (max-width: 650px) {
            position: fixed;
        }

        input {
            font-size: $sm;
            border: none;
            outline: none;
            background-color: transparent;
            resize: none;
            display: block;
            flex-grow: 1;
            height: fit-content !important;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &:focus {
                border: none;
                outline: none;
            }
        }

        .actions {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .icons {
                display: flex;
                padding: .45rem 0;

                svg {
                    margin-left: 10px;
                }
            }

            button {
                background: $primary;
                display: flex;
                align-items: center;
                color: $light200;
                font-size: $sm;
                border-radius: 10px;
                padding: .4rem 1.2rem;

                svg {
                    margin-right: 8px;
                }
            }
        }
    }
}