.comment__modal {
    position: fixed;
    inset: 0;
    background-color: hsl(0, 0%, 0%, .4);
    z-index: 10000;
    max-height: 100vh;
    padding: $big;
    overflow-y: scroll;

    @media (max-width: 600px) {
        padding: 0;
    }

    * {
        font-family: "DM Sans", sans-serif;
        color: $dark200 !important;
    }

    .close__btn {
        display: block;
        margin-left: auto;
        cursor: pointer;
    }

    &__wrapper {
        position: relative;
        background-color: $light200;
        margin: 0 auto;
        min-height: 300px;
        height: fit-content;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        max-height: 500px;
        padding-bottom: 10px;

        @media (max-width: 600px) {
            height: 90vh;
            flex-direction: column;
            max-height: fit-content;
        }

        figure {
            flex-basis: 300px;
            flex-grow: 1;

            img {
                width: 100%;
                min-height: 100%;
                object-fit: cover;
            }

            @media (max-width: 600px) {
                max-width: 200px;
                margin: 0 auto;
                flex-basis: 0;
                flex-grow: 0;
                margin-bottom: $base;

                img {
                    min-height: auto;
                }
            }
        }

        .comments {
            flex-basis: 300px;
            flex-grow: 1;
            overflow-y: scroll;
            padding: $base $base calc($base * 5) $base;
            position: relative;

            // .fullname {}

            .content {
                font-size: $sm;
                font-weight: 500;
                margin-bottom: $sm;
            }

            .comment {
                font-size: $sm;
                display: flex;
                align-items: flex-start;
                position: relative;

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 8px;
                }

                .dp__placeholder {
                    background: $primary;
                    border-radius: 50%;
                    margin-right: 8px;

                    p {
                        height: 40px;
                        width: 40px;
                        color: $light200 !important;
                        font-size: 1.3rem;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .options {
                    position: absolute;
                    background: $light200;
                    box-shadow: 0px 0px 5px 1px rgba(133, 124, 124, 0.75);
                    -webkit-box-shadow: 0px 0px 5px 1px rgba(133, 124, 124, 0.75);
                    -moz-box-shadow: 0px 0px 5px 1px rgba(133, 124, 124, 0.75);
                    border-radius: 5px;
                    overflow: hidden;
                    right: 8px;
                    top: 50%;
                    z-index: 1;

                    button {
                        display: block;
                        border: none;
                        padding: 7px $base;
                        width: 100%;
                        font-size: .85rem;
                    }

                    .edit {
                        color: $light200 !important;
                        background: $primary;
                    }

                    .delete {
                        color: rgb(254, 87, 87) !important;
                        background: $light200;
                        font-weight: 500;
                    }
                }
            }

        }

        .add__comment {
            position: absolute;
            background-color: $light200;
            bottom: 10px;
            display: flex;
            justify-content: space-between;
            right: 5px;
            border: 1px solid #716e6e;
            border-radius: 10px;
            padding: 5px;
            align-items: center;
            z-index: 1;

            textarea {
                flex-grow: 1;
                display: block;
                resize: none;
                background: transparent;
                line-height: 1;
                padding: 10px;
                font-size: $sm;

                &:focus {
                    outline: none;
                }
            }

            button {
                font-size: $sm;
                color: $light200 !important;
                background-color: $primary;
                border-radius: 10px;
                padding: 6px $base;
            }
        }
    }
}