.post__category__toggler {
    display: flex;
    gap: $big;
    padding: $thin 0;
    flex-grow: 1;

    button {
        display: block;
        color: #555454;
        font-size: $sm;
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        padding: 7px $md;
        border-radius: 16px;
        background: hsl(0, 0%, 90%);
    }

    .active {
        color: $light200;
        background: $primary;
    }

    @media (max-width: 550px) {
        gap: $base;
        padding: $thin 0;
        justify-content: space-between;

        button {
            padding: 5px $base;
            font-size: $xm;
        }
    }

    @media (max-width: 350px) {
        gap: 5px;
        padding: $thin 0;

        button {
            padding: 5px $thin;
            font-size: .75rem;
        }
    }
}

.services__wrapper {
    padding: $base;

    >div {
        max-width: 680px;
    }

    @media (max-width: 480px) {
        padding: $mb;
    }
}