.post__category__toggler {
    display: flex;
    gap: $base;
    flex-grow: 1;
    // justify-content: space-between;
    max-width: 430px;

    button {
        display: block;
        color: hsla(0, 0%, 55%, 1);
        font-size: $sm;
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        padding: 7px $base;
        border-radius: 16px;
        background: hsla(0, 0%, 98%, 1);
        text-align: center;
    }

    .active {
        color: $light200;
        background: $primary;
    }

    @media (max-width: 480px) {
        gap: $base;
        padding: $thin 0;

        button {
            padding: 5px $base;
            font-size: $xm;
        }
    }

    @media (max-width: 350px) {
        gap: 5px;

        button {
            padding: 5px $thin;
            font-size: .75rem;
        }
    }
}

.services__wrapper {
    padding: $base 0;

    .provider-img {

        @media (max-width: 5000px) {
            height: 50px;
            width: 50px;
        }
    }

    * {
        font-family: "DM Sans", sans-serif;
    }

    h3 {
        font-size: $base;
        font-weight: 500;
        color: $dark200;
    }

    >div {
        max-width: 680px;
    }

    @media (max-width: 480px) {
        padding: $base;
    }
}