.posts {
    border-radius: 10px;
    padding: $base;
    border: 1px solid hsla(0, 0%, 0%, 0.05);
    margin: $base auto;

    @media (max-width: 480px) {
        margin: $base;
    }

    * {
        font-family: "DM Sans", sans-serif;
    }

    &__poster {
        display: flex;
        justify-content: space-between;

        &__details {
            display: flex;
            align-items: flex-start;

            .dp {
                margin-right: $tiny;
                cursor: pointer;

                p {
                    background: $primary;
                    color: $light200 !important;
                    font-size: 1.3rem;
                    font-weight: 600;
                    border-radius: 50%;
                    height: 37px;
                    width: 37px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    height: 37px;
                    width: 37px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .user {
                &__name {
                    font-size: $base;
                    font-weight: 600;
                    color: inherit;
                    cursor: pointer;
                    line-height: 1.3;
                }

                &__role {
                    font-size: .7rem;
                    font-weight: 300;
                    color: inherit;
                    opacity: .9;
                }
            }

        }

        .post__actions {
            &__time {
                font-size: .8rem;
                font-weight: 500;
                opacity: .7;
                text-align: right;
            }

            &__actions {
                margin: 0 0 0 auto;

                .actions__toggler {
                    height: 20px;
                    opacity: .7;
                    cursor: pointer;
                }
            }
        }
    }

    .post-img {
        max-height: 250px;
        overflow: hidden;

        img {
            cursor: pointer;
        }
    }

    .full__img {
        position: fixed;
        inset: 0;
        pointer-events: none;
        opacity: 0;
        transition: all .3s ease;
        padding: $base $big;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 480px) {
            padding: $base 0;

            svg {
                margin-left: $base;
            }
        }

        div {
            height: fit-content;
            max-width: 700px;
            margin: auto;

            img {
                margin-top: $base;
                max-width: 100%;
                object-fit: contain;
                max-height: 85vh;
            }
        }
    }

    .show__full__post {
        z-index: 10000;
        background: #000;
        opacity: 1 !important;
        pointer-events: all !important;
    }
}