.message__container {
    max-height: 100vh !important;
}

.chats {
    display: grid;
    grid-template-columns: 300px 1fr;

    @media (max-width: 850px) {
        grid-template-columns: 300px 1fr;
    }

    @media (max-width: 650px) {
        grid-template-columns: 1fr;
    }

    * {
        font-family: "DM Sans", sans-serif;
    }

    &__senders {
        padding: $mb;
        border-right: 1px solid hsla(204, 14%, 93%, 1);
        max-height: 100vh;
        overflow-y: scroll;
        padding-bottom: 3rem;

        .search-people {
            position: sticky;
            top: $base;
            background: #FCFCFC;
        }

        @media (max-width: 600px) {
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .search-people {
                top: 0;

                >div {
                    margin-bottom: 5px !important;
                }
            }
        }
    }

    &__message {
        max-height: 100%;
        transition: all .3s ease-in-out;

        * {
            transition: all .3s ease-in-out;
        }

        @media (max-width: 650px) {
            transform: translateX(150%);
            background: $light200;
            z-index: 10000;
            position: fixed;
            bottom: 0;
            top: 0;
        }
    }

    @media (max-width: 650px) {
        .hide {
            transition: all .3s ease-in-out;
            transform: translateX(250%);
        }

        .show {
            left: 70px;
            right: 0;
            transition: all .3s ease-in-out;
            transform: translateX(0);
        }
    }

    @media (max-width: 480px) {
        .show {
            left: 0;
        }
    }
}