.pageLayout {
    display: grid;
    grid-template-columns: 220px 1fr;
    // max-width: 850px;
    margin: 0 auto;

    @media (max-width: 990px) {
        grid-template-columns: 70px 1fr;
    }

    @media (max-width: 800px) {
        column-gap: 0;
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }

    &__wrapper__container {
        padding-bottom: 5rem;
        min-height: 100vh;
        border-right: 1px solid #EBEEF0;
    }
}