.pageLayout {
    display: grid;
    grid-template-columns: 230px 1fr;
    margin: 0 auto;

    @media (max-width: 950px) {
        grid-template-columns: 200px 1fr;
    }

    @media (max-width: 750px) {
        grid-template-columns: 70px 1fr;
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }

    &__wrapper__container {
        min-height: 100vh;
    }
}