.pageLayout {
    display: grid;
    grid-template-columns: 230px 1fr;
    margin: 0 auto;

    @media (max-width: 950px) {
        grid-template-columns: 200px 1fr;
    }

    @media (max-width: 750px) {
        grid-template-columns: 70px 1fr;
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }

    &__wrapper__container {
        min-height: 100vh;
    }
}

.log-btn {
    position: fixed;
    top: 0;
    right: inherit;
    bottom: 0;
    left: 0;
    background: hsl(0, 0%, 0%, .6);
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        font-family: "DM Sans", sans-serif;
    }
}