$primary: hsla(172, 92%, 28%, 1);
$light100: hsla(0, 0%, 100%, 1);
$light200: hsla(0, 0%, 97%, 1);
$dark200: hsl(0, 0%, 18%);
$base: 1rem;
$big: 2rem;
$md: 1.5rem;
$sm: .9rem;
$xm: .8rem;
$thin: .7rem;
$tiny: .6rem;
$mb: .55rem;

$p-fluid: clamp($base, 6vw, 10rem);