@import "./styles/variables";
@import "./styles/intro-header";
@import "./styles/footer";
@import "./styles/side-nav";
@import "./styles/homepage";
@import "./styles/pageLayout.scss";
@import "./styles/components/share.scss";
@import "./styles/components/posts";
@import "./styles/components/components";
@import "./styles/notifications";
@import "./styles/mentorship";
@import "./styles/messages";
@import "./styles/profile";
@import "./styles/settings";
@import "./styles/components/chat__preview";

.testing {
    background-color: #75b8c880;
}

.swiper {
    z-index: 1 !important;
}

.swiper-pagination-bullets {
    align-items: center;
}

.swiper-pagination-bullet {
    color: white !important;
    background-color: white !important;
    border: 0.8px solid black;
    opacity: 1 !important;
    padding: 6px !important;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    margin-bottom: 3px !important;
}

.swiper-pagination-bullet-active {
    outline: white !important;
    border: 1px solid white !important;
    background-color: black !important;
    padding: 10px !important;
    position: relative;
}

.swiper-pagination-bullet-active::before {
    content: '○';
    color: white !important;
    border-radius: 50%;
    position: absolute;
    top: -20.1px;
    left: -1.4px;
    font-size: 38px;
}

.active {
    color: #068978;
    font-weight: 500;
}

.custom-shape-divider-top {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 5.3125rem;
}

.custom-shape-divider-top .shape-fill {
    fill: #F8F8F8;
}

.custom-shape-divider-bottom {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 5.625rem;
}

.custom-shape-divider-bottom .shape-fill {
    fill: #F8F8F8;
}

@media (max-width: 1024px) {
    .custom-shape-divider-top svg {
        height: 4rem;
    }

    .custom-shape-divider-bottom svg {
        height: 4rem;
    }
}

@media (max-width: 768px) {
    .custom-shape-divider-top svg {
        height: 2.5rem;
    }

    .custom-shape-divider-bottom {
        bottom: -7px;
    }

    .custom-shape-divider-bottom svg {
        height: 2.5rem;
    }
}

@media (max-width: 640px) {
    .custom-shape-divider-top svg {
        height: 2rem;
    }

    .custom-shape-divider-bottom svg {
        height: 2rem;
    }
}

@media (max-width: 576px) {
    .custom-shape-divider-top svg {
        height: 1.5rem;
    }

    .custom-shape-divider-bottom svg {
        height: 2rem;
    }
}